<template name="homepage">
	<h1>Welcome to Buzzword Bingo</h1>
	<h2>To get started, please sign in or create an account.</h2>
	<p>Constantly going to meetings where a CEO / Manager is spewing out <strong>buzzwords</strong> ten to the dozen.</p>
	<p>Tired of it and wish there was a ray of sunshine that would eleviate this mindnumbing boredom.</p>
	<h3>Well here's that ray of sunshine, <strong>Yay!</strong></h3>
	<p>
		<strong>Buzzword bingo</strong> is a little game you can play with all your friends or co-workers<br/>
		Based on bingo, but instead of the numbers you tick off your <strong>buzzwords</strong>.</p>
		<p>Get listed in <strong>buzzword bingos</strong> hall of fame and be the envy of all who play.</p> 
</template>